
<div ng-repeat="data in vm.onwardFlightData | myFilter:vm.value" class="repeated-item">
    <div class="row datarow" ng-show="!vm.searchoneway.return">
        <div class="col-md-12 col-xs-12">

           
            <div class="row header" ng-show="$first">
                 <p class="text-center fromto" ng-show="$first"><strong>{{vm.breadcrumb.origin.iata}} <span class="	glyphicon glyphicon-plane plane"></span> {{vm.breadcrumb.destination.iata}} </strong><span class="headerDate">{{vm.onwardDate}}</span></p>
                <div class="col-md-3 col-xs-3">Airline</div>
                <div class="col-md-3 col-xs-3">Depart</div>
                <div class="col-md-3 col-xs-3">Arrive</div>
                <div class="col-md-3 col-xs-3">Cost</div>
            </div>
            <div class="flightInfo">
                <div class="row">
                    <div class="col-md-3 col-xs-3">{{data.airlineCode}}</div>
                    <div class="col-md-3 col-xs-3">{{data.departureTimeAirport}}</div>
                    <div class="col-md-3 col-xs-3">{{data.arrivalTimeAirport}}</div>
                    <div class="col-md-3 col-xs-3">
                        <button class="btn btn-success">{{data.price[0].price | currency:'₹'}}</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row datarow" ng-show="vm.returnFlightData">
    <div class="col-md-6 col-xs-12">
        <div ng-repeat="data in vm.onwardFlightData | myFilter:vm.value">
           
            <div class="row header" ng-show="$first">
                 <p class="text-center fromto" ng-show="$first"><strong>{{vm.breadcrumb.origin.iata}} <span class="	glyphicon glyphicon-plane plane"></span> {{vm.breadcrumb.destination.iata}} </strong></p>
                <div class="col-md-3 col-xs-3">Airline</div>
                <div class="col-md-3 col-xs-3">Depart</div>
                <div class="col-md-3 col-xs-3">Arrive</div>
                <div class="col-md-3 col-xs-3">Cost</div>
            </div>
            <div class="flightInfo">
                <div class="row">
                     <div class="col-md-3 col-xs-3">{{data.airlineCode}}</div>
                    <div class="col-md-3 col-xs-3">{{data.departureTimeAirport}}</div>
                    <div class="col-md-3 col-xs-3">{{data.arrivalTimeAirport}}</div>
                    <div class="col-md-3 col-xs-3">
                        <button class="btn btn-success">{{data.price[0].price | currency:'₹'}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div ng-repeat="data in vm.returnFlightData | myFilter:vm.value">
           
            <div class="row header" ng-show="$first">
                 <p class="text-center fromto" ng-show="$first"><strong>{{vm.breadcrumb.destination.iata}}  <span class="	glyphicon glyphicon-plane plane"></span>{{vm.breadcrumb.origin.iata}} </strong></p>
                <div class="col-md-3 col-xs-3">Airline</div>
                <div class="col-md-3 col-xs-3">Depart</div>
                <div class="col-md-3 col-xs-3">Arrive</div>
                <div class="col-md-3 col-xs-3">Cost</div>
            </div>
            <div class="flightInfo">

                <div class="row">
                    <div class="col-md-3 col-xs-3">{{data.airlineCode}}</div>
                    <div class="col-md-3 col-xs-3">{{data.departureTimeAirport}}</div>
                    <div class="col-md-3 col-xs-3">{{data.arrivalTimeAirport}}</div>
                    <div class="col-md-3 col-xs-3">
                        <button class="btn btn-success">{{data.price[0].price | currency:'₹'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>